{{- /* Giscus 评论系统 */ -}}
{{- if (not .Params.disableComments) }}
<script src="https://giscus.app/client.js"
        data-repo="kkLullaby/kkLullaby.github.io"
        data-repo-id="R_kgDOQ8ibzg"
        data-category="Announcements"
        data-category-id="DIC_kwDOQ8ibzs4C1Jka"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- end }}
